body{
    background-image: url('https://i.pinimg.com/564x/f0/4b/7f/f04b7fd585d1e5638fb5e6664446ee3f.jpg');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    margin-top: 25%;
}
#button1 {
    width: 250px;
    margin: 10px;
  }
  .card-header{
      text-align: center;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    letter-spacing: 7px;
}
